<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Digit recognizer factoid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1><span style="color: #5da6d7">digit</span> recognizer factoid</h1>
    <h2>write digit from 0 to 9</h2>
    <div class="canvas-container">
        <button class="canvas-btn" id="erase">erase</button>
        <canvas id="canvas"></canvas>
        <button class="canvas-btn" id="submit">submit</button>
        <a href="https://twitter.com/jhruvsphysics" target="_blank">twitter/@jhruvsphysics</a>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>